{% extends 'restaurant/layout.html' %}

{% block script %}
    <script>
        $(document).ready(function() {
            var now = new Date();
            setInterval(function() {
                $.ajax({
                    url: '/api/restaurant/order/notification/' + now.toISOString() + '/',
                    method: 'GET',
                    success: function(data) {
                        if (data['notification'] === 0){
                            $('.badge').text('');
                        } else {
                            $('.badge').text(data['notification']);
                        }
                    }
                })
            }, 3000)
        })
    </script>
{% endblock %}

{% block sidebar %}

{% url 'restaurant_meal' as restaurant_meal_url %}
{% url 'restaurant_order' as restaurant_order_url %}
{% url 'restaurant_report' as restaurant_report_url %}
{% url 'restaurant_account' as restaurant_account_url %}
{% url 'restaurant_map' as restaurant_map_url %}


<div class='text-center mt-4'>
    <img src="{{ request.user.restaurant.logo.url }}" class='rounded-circle' width='80' height='80' alt="">
    <br><br>
    <h5>{{ request.user.get_full_name }}</h5>
    <h6>{{ request.user.restaurant.name }}</h6>
</div>

<hr>

<div class='list-group'>
    <span class='text-uppercase'>ДАННЫЕ</span>
    <a href="{% url 'restaurant_meal' %}" 
        class="list-group-item {% if request.path == restaurant_meal_url %} active {% endif %}">Блюда</a>
    <a href="{% url 'restaurant_order' %}" 
        class="list-group-item {% if request.path == restaurant_order_url %} active {% endif %}">
        Заказы
        <span class="badge badge-warning ml-2"></span>
    </a>
    {% if not request.user.cashier %}
        <a href="{% url 'restaurant_report' %}" 
            class="list-group-item {% if request.path == restaurant_report_url %} active {% endif %}">Статистика</a>

        <a href="{% url 'restaurant_map' %}" 
            class="list-group-item {% if request.path == restaurant_map_url %} active {% endif %}">Карта Доставки</a>

        <span class="text-uppercase">ПРОФИЛЬ</span>
        <a href="{% url 'restaurant_account' %}" 
            class="list-group-item {% if request.path == restaurant_account_url %} active {% endif %}">Аккаунт</a>
    {% endif %}
</div>

<div class="text-center my-3 mx-3">
    <a href="{% url 'restaurant_sign_out' %}" class='btn btn-warning btn-block'>Выйти</a>
</div>

{% endblock %}


