{% extends 'restaurant/base.html' %}
{% load bootstrap4 %}

{% block title %} Заказы {% endblock %}

{% block body %} 
<div class='row'>
    <div class='col-md-10 offset-md-1'>
        <div class="card shadow text-white mb-3 mt-5">
            <div class="card-header text-center">
                <h5 class='m-0 font-weight-bold text-black'>Заказы</h5>
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Заказ</th>
                        <th scope="col">Покупатель</th>
                        <th scope="col">Итог</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Действие</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr class='align-middle'>
                                <th scope="row">{{ order.id }}</th>
                                <td>
                                    <ul>
                                        {% for od in order.order_details.all %}
                                            <li>{{ od.meal.name }} : {{ od.meal.price }}₽ x {{ od.quantity }} = {{ od.sub_total }}₽</li>
                                        {% endfor %}
                                        <li>Доставка : 150₽</li>
                                    </ul>
                                </td>
                                <td>{{ order.customer }}</td>
                                <td class='text-right'>
                                    <font color="green">{{ order.total }}₽</font>              
                                </td>
                                <td>{{ order.get_status_display }}</td>
                                <td>
                                    {% if order.status != 0 and order.status != 5 %}
                                        <form action="" method='post'>
                                            {% csrf_token %}

                                            {% bootstrap_form category_form %}

                                            <input name='id' value='{{ order.id }}' hidden>
                                            <button class="btn btn-black btn-sm">Готово</button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}