{% extends 'restaurant/base_auth.html' %}
{% load bootstrap4 %}

{% block title %}Register{% endblock %}

{% block heading %}Restaurant - Register{% endblock %}

{% block content %}
  <form action="" method='post' enctype='multipart/form-data'>
    {% csrf_token %}
    {% bootstrap_form user_form %}
    {% bootstrap_form restaurant_form %}

    <button type='submit' class='btn btn-black btn-block'>Register a new account</button>
  </form>
  
  <div class='text-center mt-3'>
    <a href="{% url 'restaurant_sign_in' %}">Already have an account</a>
  </div>
{% endblock %}
